html {
	box-sizing: border-box;
	font: 18px/24px "Raleway", "Arial", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #575756;
	background: #fff;
	letter-spacing: .05em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: inherit;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: .03em;
	margin: 0 0 .5em;
	color: inherit;
}

h1, .h1 {
	font-size: 30px;
}

h2, .h2 {
	font-size: 27px;
}

p {
	margin: 0 0 .667em;
}

a {
	color: #009de2;
	text-decoration: none;
	transition: opacity .3s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	opacity: .7;
}

/*Header*/

.page-wrapper {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.header {
	position: relative;
	top: 0;
	width: 100%;
	background-color: #0c0105;
	padding: 3px 5px 0px 5px;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	margin: 0;
}

.menu img {
	height: 15px;
}

ul { 
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	margin: 0 5%;
	position: relative;
	padding: 10px 0;
	text-align: left;
	color: #f6f1bf;
	font-size: 0.5rem;
	font-weight: 300;
}

li.info {
	display: none
}

.social_icons span {
	display: inline-block;
}

.social_icons span + span {
	margin-left: 1rem;
}

.drop {
	width: 400%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #0c0105;
	opacity: 0.7;
	display: none;
}

.drop-menu a {
	color: #f3eebd;
	opacity: 1;
}

.drop-menu li {
	padding: 0;
	margin-top: 0;
	font-size: 0.7rem;
	line-height: 1.3rem;
	transition: .5s ease-in-out;
}

.menu a:hover img{
	transform: scale(1.2);
}

.menu li:hover .drop {
	display: block;
}

.drop-menu li:hover a {
	font-weight: 600;
}

/*Main_banner*/
/*
.main_banner {
	background-size: cover;
}*/

.main_banner {
	background: url("../img/main_banner.png") center top no-repeat;
	background-size: 100%;
	height: 300px;

	display: flex;
	justify-content: flex-center;
	align-items: flex-end;
	flex-direction: column;
}

.main_banner_info {
	width: 35%;
	text-align: center;
	margin: 2% 5%;
	color: #f6f1bf;
	font-size: 0.5rem;
	line-height: 0.75rem;
	font-weight: 800;
}

.main_banner_info .title {
	margin-bottom: 10px;
}

.main_banner_info .info {
	margin-top: 15px;
	font-size: 0.65rem;
}



@media (min-width: 800px) {
	html {
	font: 24px/32px "Raleway", "Arial", "Helvetica Neue", sans-serif;
}

.page-wrapper {
	max-width: 1280px;
}

/*Header*/

.header {
	padding: 5px;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
	margin: 0;
}

.menu img {
	height: 30px;
}

.menu li {
	margin: 0;
	font-size: 0.75rem;
	line-height: 2rem;
	font-weight: 300;
}

.menu li {
	position: relative;
	padding: 10px;
	text-align: left;
	color: #f6f1bf;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 300;
}

li.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li .address,
li .phone {
	margin-right: 20px;
}

.drop-menu {
	padding: 20px 0;
}

.drop-menu li {
	padding: 0;
	margin: 10px 0;
	font-size: 1rem;
	line-height: 2rem;
}

/*Main_banner*/

.main_banner {
	height: 700px; 
}

.main_banner_info {
	width: 25%;
	margin: 2% 7%;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 900;
}

.main_banner_info .title {
	margin-bottom: 25px;
}

.main_banner_info .info {
	margin-top: 40px;
	font-size: 1rem;
	line-height: 1.2rem;
}

}